/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.title-section {
  background-color: lightblue;
}
html {
  font-size: 62.5%;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2rem;
}
p {
  font-size: 1.6rem;
}
body {
  max-width: 90%;
  margin: 0 auto;
}
body .intro .navigation {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  padding: 1% 0 2%;
}
body .intro .navigation nav {
  width: 40%;
}
body .intro .navigation nav a {
  padding: 2%;
  text-decoration: none;
}
body .intro .title-section {
  height: 580px;
  width: 70%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0 auto;
  padding: 2%;
}
body .intro .title-section img {
  height: 60%;
  width: 40%;
}
body .intro .title-section .text-content h1,
body .intro .title-section .text-content h2,
body .intro .title-section .text-content h3,
body .intro .title-section .text-content button {
  padding: 1%;
}
body .intro .title-section .text-content button {
  border-radius: 10%;
  width: 15%;
  background-color: gray;
}
body .skills {
  display: flex;
  width: 70%;
  margin: 0 auto;
  padding: 1% 0 2%;
}
body .skills .main-content {
  display: flex;
}
body .skills .main-content .text-content {
  width: 48%;
  margin-right: 5%;
}
body .work-history {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 2%;
}
body .work-history .text-content h2 {
  padding: 1% 0 2%;
}
body .work-history .text-content p {
  padding: 1% 0;
}
body .work-history .text-content li {
  font-size: 1.6rem;
  padding: 1%;
}
body .contact {
  width: 70%;
  margin: 0 auto;
}
body .contact .text-content h2 {
  padding: 1% 0;
}
body footer {
  display: flex;
  justify-content: center;
  padding: 4%;
  font-size: 1.4rem;
}
